//
// Copyright 2018 Shiqan
//
$grid-breakpoints: (
  xs: 0,
  sm: 40rem,
  md: 48rem,
  lg: 62rem,
  xl: 75rem
) !default;

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

// Gray scale
$gray-100: #f5f8fa;
$gray-200: #d4dbe0;
$gray-300: #9da9b0;
$gray-500: #536570;
$gray-700: #1e3948;
$gray-800: #122a38;

// Brand Scale
$primary: #3097D1;
$secondary: $gray-200;
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;
$white: #fff;

$team-left: #5c8ccc;
$team-right: #ff5945;


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//
// Extend Milligram
//

.wrapper{
   display:block;
   overflow:hidden;
   position:relative;
   width:100%;
}
.wrapper .container{
   max-width:80rem;
}
.wrapper>.container, .wrapper>.draft{
   padding-top:7.5rem;
}
.header{
   background-color:#f4f5f6;
   padding-top:1rem;
}
@include media-breakpoint-up(sm) {
   .header{
       padding-top:5rem;
   }
}
.header+section{
   border-top:0;
}
.header .container{
   border-top:0;
   padding-bottom:7.5rem;
   padding-top:7.5rem;
   position:relative;
   text-align:center
}
.header .title{
   font-family:Gotham Rounded A,Gotham Rounded B,Helvetica Neue,Arial,sans-serif;
}
.header .img{
   height:15rem;
   margin-bottom:2rem;
}
.header .img path{
   animation:7s a forwards;
   fill:#9b4dca;
   stroke:#9b4dca;
   stroke-dasharray:38321;
   stroke-miterlimit:10;
   stroke-width:15px;
}
.header .button{
   margin-bottom:4rem;
   margin-top:2rem;
}
@include media-breakpoint-up(sm) {
   .header .button{
       margin-bottom:4rem;
       margin-top:2rem;
   }
}
@keyframes a{
   0%{
       fill-opacity:0;
       stroke-dashoffset:38321;
   }
   25%{
       fill-opacity:0;
       stroke:#9b4dca;
   }
   to{
       fill-opacity:1;
       stroke-dashoffset:0;
   }
}
.navigation{
   background:#f4f5f6;
   border-bottom:.1rem solid #d1d1d1;
   display:block;
   height:5.2rem;
   left:0;
   max-width:100%;
   position:fixed;
   right:0;
   top:0;
   width:100%;
   z-index:1;

   &.team-right {
     background: $team-right;

     .title {
       color: #fff;
     }

     .octocat {
       fill: $team-right;
     }

   }
   &.team-left {
     background: $team-left;

     .title {
       color: #fff;
     }

     .octocat {
       fill: $team-left;
     }
   }
}
.navigation .container{
   padding-bottom:0;
   padding-top:0;
}
.navigation .navigation-list{
   list-style:none;
   margin-bottom:0;
   margin-right:5rem;
}
@include media-breakpoint-up(lg) {
   .navigation .navigation-list{
       margin-right:0;
   }
}
.navigation .navigation-item{
   float:left;
   margin-bottom:0;
   margin-left:2.5rem;
   position:relative;
}
.navigation .img{
   fill:#9b4dca;
   height:2rem;
   position:relative;
   top:.3rem;
}
.navigation .navigation-title,.navigation .title{
   color:#606c76;
   font-family:Gotham Rounded A,Gotham Rounded B,Helvetica Neue,Arial,sans-serif;
   position:relative;
}
.navigation .navigation-link,.navigation .navigation-title,.navigation .title{
   display:inline;
   font-size:1.6rem;
   line-height:5.2rem;
   padding:0;
   text-decoration:none;
}
.navigation .navigation-link.active{
   color:#606c76;
}
.octocat{
   border:0;
   color:#f4f5f6;
   fill:#9b4dca;
   height:5.2rem;
   position:fixed;
   right:0;
   top:0;
   width:5.2rem;
   z-index:1;
}
.octocat:hover .octocat-arm{
   animation:b .56s infinite;
   transform-origin:13rem 10.6rem;
}
.octocat .octocat-arm,.octocat .octocat-body{
   fill:#f4f5f6;
}
@keyframes b{
   0%,50%{
       transform:rotate(0);
   }
   25%,75%{
       transform:rotate(-25deg);
   }
}


.footer{
   padding-top:1rem
}
@media(min-width:40rem){
   .footer{
       padding-top:5rem
   }
}
.footer+section{
   border-top:0
}
.footer .container{
   border-top:0;
   padding-bottom:7.5rem;
   padding-top:7.5rem;
   position:relative;
   text-align:center;
}
.footer .title{
   font-family:Gotham Rounded A,Gotham Rounded B,Helvetica Neue,Arial,sans-serif
}
.footer .img{
   height:15rem;
   margin-bottom:2rem
}
.footer .img path{
   animation:7s a forwards;
   fill:#9b4dca;
   stroke:#9b4dca;
   stroke-dasharray:38321;
   stroke-miterlimit:10;
   stroke-width:15px
}
.footer .button{
   margin-bottom:4rem;
   margin-top:2rem
}
@include media-breakpoint-up(sm) {
   .footer .button{
       margin-bottom:4rem;
       margin-top:2rem;
   }
}


textarea {
  min-height: 32rem;
}

.header .clipboard {
  margin-bottom: 0;
}

[type="checkbox"], [type="radio"]
{
    position: absolute;
    opacity:0;
}
[type="checkbox"] + label, [type="radio"] + label
{
    position: relative;
    padding-left: 2.5rem;
    cursor: pointer;
    display: inline-block;
}
[type="checkbox"] + label:before, [type="radio"] + label:before
{
    content: '';
    position: absolute;
    left: 0;
    top: 0.4rem;
    width: 1.8rem;
    height: 1.8rem;
    border: 0.1rem solid #d1d1d1;
}

[type="radio"] + label:before, [type="radio"] + label:after
{
    border-radius: 50%;
}
[type="checkbox"]:checked + label:after,
[type="radio"]:checked + label:after
{
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    background: #9b4dca;
    position: absolute;
    top: 0.9rem;
    left: 0.5rem;
}
[type="radio"]:disabled + label:before, [type="checkbox"]:disabled + label:before
{
    background-color: #d1d1d1;
}
[type="radio"]:disabled + label, [type="checkbox"]:disabled + label
{
    color: #d1d1d1;
}
[type="radio"]:disabled:checked + label:after, [type="checkbox"]:disabled:checked + label:after
{
    background: #606c76;
}
//
// Base styles
//

%draft-background {
  background-image: url("/static/images/common/background/draft_spec_2100.jpg");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
  filter: brightness(.5);
}

.draft-background-spec {
  @extend %draft-background;
  background-image: url("/static/images/background/draft_spec_2100.jpg");
}

.draft-background-left {
  @extend %draft-background;
  background-image: url("/static/images/background/draft_glaive_2100.jpg");
}

.draft-background-right {
  @extend %draft-background;
  background-image: url("/static/images/background/draft_fortress_2100.jpg");
}

.draft {
  .title {
    text-align: center;
  }
  .draft-item {
    width: 60px;
    height: 60px;
    border: 2px solid $white;
    position: relative;
    margin: 0 auto;
    margin-bottom: 10px;

    @include media-breakpoint-up(md) {
      width: 120px;
      height: 120px;
    }

    .timer {
      text-shadow: 0px 0px 2px $white;
    }

    &.turn-indicator {
      -moz-box-shadow: 0 0 12px $gray-300;
      -webkit-box-shadow: 0 0 12px $gray-300;
      box-shadow: 0 0 12px $gray-300;
    }

    &.draft-team-left {
      border-color: $team-left;

      &.ban:after {
        background: $team-left;
      }

      .nextTurn {
        background-color: rgba($team-left, 0.5);
      }

      .timer {
        color: $team-left;
      }

      .draft-order {
        background-color: $team-left;
      }
    }

    &.draft-team-right {
      border-color: $team-right;

      &.ban:after {
        background: $team-right;
      }

      .nextTurn {
        background-color: rgba($team-right, 0.5);
      }

      .timer {
        color: $team-right;
      }

      .draft-order {
        background-color: $team-right;
      }
    }

    &.ban:after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    img {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &.ban {
      border-radius: 50%;

      img {
        opacity: .7;
        border-radius: 50%;
      }
    }

    .draft-order {
      width: 14px;
      height: 14px;
      line-height: 14px;
      text-align: center;
      border-radius: 7px;
      background-color: transparent;
      font-size: 11px;
      position: absolute;
      bottom: -7px;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  .hero-select {
    position: relative;

    &.hero-highlight, &:hover{
      opacity: .75;
      transition: all 0.3s ease;
    }
  }

  .hero-locked {
    opacity: .5;
  }

  @include media-breakpoint-up(md) {
    .hero-draft-img img {
      max-width: 120px;
      max-height: 120px;
    }
  }
}
