<form id="draft-form">
  <div class="form-group">
    <label class="id-lbl-draft-form-errors"></label>
  </div>

  <div class="form-group">
    <input class="form-control id-text_teamA" id="validationTeamA" placeholder="{{ $langConfig -> getValue('draft.team.a') }}" type="text" required>
    <div class="invalid-feedback teamA">
      Please provide a teamname.
    </div>
  </div>

  <div class="form-group mb-3">
    <input class="form-control id-text_teamB" id="validationTeamB" placeholder="{{ $langConfig -> getValue('draft.team.b') }}" type="text" required>
    <div class="invalid-feedback teamB">
      Please provide a teamname.
    </div>
  </div>

  <div class="mb-5">
    <button class="btn btn-secondary id-clearDraft">{{ $langConfig -> getValue('common.cta.clear') }}</button>
    <button class="btn btn-primary pointer id-initDraft" type="submit">{{ $langConfig -> getValue('draft.cta.init') }} <i class="fas fa-angle-double-right"></i></button>
  </div>
