{% extends "_layout.html" %}

{% block content %}
  <header class="header">
    <section class="container">
      <form method="post">
        <div class="row">
          <fieldset class="column">
            <label for="teamBlue">Team Blue</label>
            <input type="text" placeholder="Blue" name="teamBlue">
          </fieldset>

          <fieldset class="column">
            <label for="teamRed">Team Red</label>
            <input type="text" placeholder="Red" name="teamRed">
          </fieldset>
        </div>

        <fieldset>
          <label for="draftField">Construct your Draft</label>
          <textarea name="draftField" rows="5">[
                          {"index": 1, "side": "1", "type": "ban"},
                          {"index": 2, "side": "2", "type": "ban"},
                          {"index": 3, "side": "2", "type": "ban"},
                          {"index": 4, "side": "1", "type": "ban"},
                          {"index": 5, "side": "1", "type": "pick"},
                          {"index": 6, "side": "2", "type": "pick"}
                      ]</textarea>
          <input class="button button-outline" type="submit" value="Get Started">
        </fieldset>

        {% module xsrf_form_html() %}
      </form>
    </section>
  </header>

  <section class="container" id="why">
    <h3 class="title">Why it's awesome</h3>
    <p>Milligram provides a minimal setup of styles for a fast and clean starting point. Just it! <strong>Only 2kb gzipped!</strong> It's not about a UI framework. Specially designed for better performance and higher productivity with fewer properties to reset resulting in cleaner code. Hope you enjoy!</p>
  </section>

  <section class="container" id="getting-started">
    <h3 class="title">Getting Started</h3>
    <p class="description">There are some ways to get started. First, see all download options available below, then choose the most suitable option for your need. Now you should add the main file of the Milligram and the CSS Reset in the header of your project. Just that!</p>
    <p><a class="button download" href="https://github.com/milligram/milligram/archive/v1.3.0.zip" title="Download Milligram">Download Milligram</a></p>
    <div class="example"><p><strong>Install with Bower</strong></p><p>Milligram is available to install using Bower.</p></div>
    <pre class="code prettyprint prettyprinted" style="">
      <code class="code-content">
        <span class="pln">$ bower install milligram</span>
      </code>
    </pre>
</section>
{% end %}
